<launch>
  <!-- load parameter file -->
  <rosparam file="$(find turtlebot_simulator)/config/simulator_params.yaml" command="load"/>
  <!-- Simulator runs on wall clock time since it publishes /clock -->
  <rosparam param="/use_sim_time">false</rosparam>

  <node pkg="turtlebot_simulator" type="turtlebot_simulator" name="turtlebot_simulator" output="screen"/>
  <node pkg="turtlebot_simulator" type="test_node" name="test_node" output="screen"/>
  
  <!-- Record rosbag -->
  <node pkg="rosbag" type="record" name="rosbag_recorder" 
        args="-o /workspace/rosbags/simulation /turtlebot/state /control_commands /turtlebot/reference"
        output="screen"/>
</launch>
